@import "bootstrap-custom.scss";

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................... - 1.base - .................................................. */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

body
{
  background: url("../img/background.jpg") no-repeat center 0;
}


@media (min-width: 1200px)
{
  body
  {
    background-size: cover;
  } 
}


.wraper
{
  position: relative;
  overflow: hidden;
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................... - 2.Header - .................................................. */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.navbar-custom
{
  background: $main-bg;
  margin: 0;

  .logo
  {
    margin-left: 10px;
    font-family: $main-font;
    text-decoration: none;
    color: #FFF;
    font-size: 40px;

    span
    {
      color: #FFEE00;
      font-size: 45px;
      font-weight: bold;
    }
  }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................ - 3.Section-Home - ............................................... */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.section-home
{
  margin-top: 100px;

  .content
  {
    padding: 50px 20px;
    margin-bottom: 100px;

    p
    {
      font: 25px bold;
      color: #FFEE00;
      text-transform: uppercase;
      font-family: 'Frijole', cursive;
      text-shadow: 2px 2px rgba(0,0,0,0.5);
      text-align: left;
    }
  }
}

@media (min-width: 768px)
{
  .section-home
  {
    .content
    {
      padding: 50px;
      p
      {
        font-size: 50px;
        font-weight: bold;
        font-family: 'Frijole', cursive;
      }
    }   
  }
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................ - 4.Section-about - .............................................. */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.section-about
{
  margin-top: 100px;
  .content
  {
    margin: 0 20px 120px 20px;

    h2, p
    {
      background: $main-bg;      
    }

    h2
    {
      margin: 40px auto 20px auto;
      width: 150px;
      letter-spacing: -1px;
      padding: 20px;
      text-align: center;
      color: #FFEE00;
      font: bold 25px Georgia, serif;
    }

    p
    {
      color: #FFF;
      padding: 15px;
      text-indent: 5px;
      font: 1.2em/1.5em Georgia, serif; 
    }

  }
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................ - 5.Section-gallery - .............................................. */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.section-gallery{
    margin-top: 150px;
}
#myCarousel{
  width: 100%;
  margin: 20px auto 0 auto;
}

@media (min-width: 768px)
{
  .section-gallery{
    margin-top: 60px;
  }
  #myCarousel{
    width: 90%;
  } 
}


@media (min-width: 992px)
{
  #myCarousel{
    width: 70%;
  } 
}

@media (min-width: 1200px)
{
  .section-gallery{
    margin-top: 85px;
  }
  #myCarousel{
    width: 65%;
  } 
}



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////    
/* ............................................... - 5.Footer - .................................................. */
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.footer-main
{
  background: $main-bg;
  position: fixed;
  bottom: 0%;
  width: 100%;
  
  p
  {
    color: #FFF;
    padding-top: 10px;
    font-family: $main-font;
    font-size: 13px;
    text-align: center;
  }

}

@media (min-width: 768px)
{
  .footer-main
  {
    p
    {
      padding-right: 40px;
      text-align: right;
    }   
  }
}